.menu {
  position: fixed;
  bottom: -100vh;
  z-index: 9999;
  width: 100%;
  //height: 60px;
  background: rgba(0,0,0,0.85);
  text-align: center;
  padding-top: 5px;
  border-top: 1px solid $color-yellow;
  height: calc(100vh + 60px);
  transform: translateY(0);
  transition: transform 0.3s;
  &-isopen {
    transform: translateY(-100vh) !important;
  }
  // .images {
  //   padding-top: 20px;
  //   // img {
  //   //   width: 33.33%;
  //   //   padding: 15px;
  //   //   float: left;
  //   // }
  // }
  .fa {
    color: #fff;
    font-size: 34px;
    display: block;
    color: $color-yellow;
  }
  .close {
    font-size: 12px;
    float: left;
    text-align: center;
    margin-left: 15px;
    &:hover,
    &:focus {
      border-bottom: 0;
    }
  }
  .nearme {
    font-size: 12px;
    float: right;
    text-align: center;
    margin-right: 15px;
    position: relative;
    color: #fff;
    .icon:before {
      position: relative;
      display: block;
      position: relative;
      margin: 4px auto 0;
      left: auto;
    }
    .icon-kangaroo:before {
      background-image: url(../img/kangaroo.png);
    }
  }
}

.menu-bar {
  height: 60px;
  .fa {
    padding-top: 8px;
    font-size: 26px;
  }
}
.menu-open {
  padding: 15px;
  position: relative;
  height: 100vh;
  h3 {
    color: #fff;
    text-align: left;
    font-size: 22px;
  }
  .animal {
    padding: 15px;
    margin-top: 15px;
    @extend %clearfix;
    width: 33.33%;
    float: left;
    img {
      width: 75%;
      margin: 0 auto;
    }
    p {
      color: #fff;
      text-align: center;
    }
  }
  .close-menu {
    position: absolute;
    bottom: 35px;
    width: 100%;
    display: block;
    //text-align: center;
    margin-left: -15px;
    img {
      margin: 0 auto;
      width: 50px;
    }
  }
}
