<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lang="en""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lang="en""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lang="en""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 lang="en""> <![endif]-->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->

        <!-- build:css css/styles.min.css -->
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
        <!-- endbuild -->
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCw5Ps26fT2bt-Lp-b2--2po84rCfWZtTc"></script>

    </head>
    <body>

        <!-- Add your site or application content here -->
        <p>Hello world!</p>

        <!--build:js js/jquery.min.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- endbuild -->
        <!--build:js js/main.min.js -->
        <script src="js/main.js"></script>
        <!-- endbuild -->


        <div class="closebutton">
          <a href="aug.html"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </body>
</html>
