<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7 lang="en""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 lang="en""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9 lang="en""> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 lang="en""> <![endif]-->
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->
    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <!-- endbuild -->

</head>
<body>
    <br />
    <br />
    <br />
    <div id="googleMap" class="googlemap"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw5Ps26fT2bt-Lp-b2--2po84rCfWZtTc">
    </script>

    <!--build:js js/jquery.min.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbuild -->
    <!--build:js js/main.min.js -->
    <script src="js/main.js"></script>
    <!-- endbuild -->
    <script>
    $(document).ready(function() {
      showPositions();
    });
    </script>

    <div class="menu">
      <div class="menu-bar">
        <a class="close" href="index.html"><i class="fa fa-chevron-left"></i>back</a>
        <button class="nearme"><i class="icon icon-kangaroo"></i>what's near me</a>
      </div>
      <div class="menu-open">
        <h3>In your area</h3>
        <button class="close-menu">
          <img src="img/close.png" alt="" />
        </button>
        <div class="animal">
          <img src="img/kookaburra.png">
          <p>Kookaburra</p>
        </div>
        <div class="animal">
          <img src="img/emu.png">
          <p>Emu</p>
        </div>
        <div class="animal">
          <img src="img/echidna.png">
          <p>Echidna</p>
        </div>
        <div class="animal">
          <img src="img/kangaroo-2.png">
          <p>Kangaroo</p>
        </div>
        <div class="animal">
          <img src="img/cockatoo.png">
          <p>Cockatoo</p>
        </div>

      </div>
    </div>
</body>
</html>
