// Typography
// ----------
// Basic typography style for copy text
// ==========
body {
  //@include remx(font-size, 16px);
}

.tagline {
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 0 1em;
  margin: 1.5em;
}
