.about-page {
  .nav {
    ul {
    }
    li{
    	display: inline-block;
    	font-size: 18px;
    	font-family: arial, sans-serif;
    	color: #000;
    	justify-content: right;
      background: transparent;
      padding: 10px 25px;
      float: left;
    }
  }

  .intro {
    min-height: 100vh;
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: relative;
    width: 100%;
    overflow: hidden;
    p {
      padding-top: 25px;
      padding-bottom: 20px;
      width: 75%;
      text-align: center;
      margin: 0 auto;
    }
    .see-more__wrap {
      width: 100%;

      a {
        &:hover,
        &:focus {
          border-bottom: 0;
        }
      }
    }
  }

  .about {
  	background-color: #e6e7e8;
  }

  .features {
  	background-color: #253a67;
    color: #fff;
    &.section > .heading {
      border-bottom: 1px solid #e6e7e8;
    }
    .item {
      width: 100%;
      position: relative;
    }
    p {
      @include respond-to(large) {
        width: 50%;
      }

      &:nth-child(odd) {
        float: right;
      }
    }
  }

  .start-playing {
  	background-color: #e6e7e8;
  }

  .contact {
  	background-color: #353434;
    color: #fff;
    &.section > .heading {
      border-bottom: 1px solid #e6e7e8;
    }
  }

  .section {
    padding: 45px;

    @include respond-to(small) {
      padding: 40px 0;

      p {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    text-align: center;
    .heading {
      display: inline-block;
      padding: 0 75px 20px 75px;
      margin-bottom: 20px;
      border-bottom: 1px solid #353434;
    }
    img:not(.actual) {
      padding: 70px 0 25px;
      width: 60%;
    }
  }
}

img.actual {
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;

}
